file_format: "0.3"
disabled: false
resource:
  schema_url: https://opentelemetry.io/schemas/1.26.0
  attributes:
    - name: service.name
      value: "serviceconfig12"
    - name: environment
      value: "prod"

propagator:
  composite: [ tracecontext, baggage ]

tracer_provider:
  processors:
    - batch:
        exporter:
          otlp:
            protocol: http/protobuf
            endpoint: http://localhost:4318

meter_provider:
  readers:
    - periodic:
        interval: 5000
        exporter:
          otlp:
            protocol: http/protobuf
            endpoint: http://localhost:4318
        cardinality_limits:    # Limite de filtros relacionado as métricas
          default: 2000        # Limite padrão conservador
          counter: 5000        
          histogram: 1000      
          gauge: 1500         
          observable_counter: 3000
          observable_gauge: 1500
          up_down_counter: 2000
          observable_up_down_counter: 2000
  views:
    - selector:
        instrument_name: "http_request_duration_seconds"
      stream:
        aggregation:
          explicit_bucket_histogram:
            boundaries: [0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1.0, 2.0, 5.0, 10.0]
    
    - selector:
        instrument_name: "errors_total"
      stream:
        name: "http_errors_total"
        description: "Total HTTP errors by type and endpoint"
    

    - selector:
        instrument_name: "external_calls_total"
      stream:
        aggregation:
          drop: {}  # Remove completamente esta métrica

logger_provider:
  processors:
    - batch:
        exporter:
          otlp:
            protocol: http/protobuf
            endpoint: http://localhost:4318
